/* CSS/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    text-align: center;
}

header, section, footer {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

section {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 300px;
    text-align: center;
    color: #777;
}

#billing-module, #tariff-module {
    display: none;
}

/* Add your custom styles for billing and tariff sections here */

